body {
    color: aqua;
    background-color: black;
    text-align: center;
}

#t1 {
color: aqua;
font-family: cursive;
font-size: xx-large;
text-align: center;
padding: 20px;
padding-bottom: 1Opx;
border: ;
}

.produtos {
    color: #c4655e;
    font-family: cursive;
    text-align: left;
}

.descrito {
    color: white;
    font-family: monospace;
    text-align: left;
}

.valores {
    color: #179183 ;
    font-family: cursive;
    text-align: left;
}

img {
    width: 300px;

    height: 200px;
}

#titulo2 {
    color: white;
    font-family: sans-serif;
    font-size: 15px;
    text-align: justify;
    font-family: sans-serif;
    border:  #52322f solid 2px;
    border-right:  #52322f solid 1230px;
    border-left:  #52322f solid 20px;
}
    
.infos {
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    border:  #52322f solid;
    padding: 15px;
}

#recado {
text-align: right;
color: #595757;
}

.falado {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    text-align: left;
}